/* Постер */
#poster-img {
    /* background: url("../img/film_1.jpg") no-repeat; */
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    width: 350px;
    height: 505px;
    margin-top: 50px;
}

/* Описание фильма */
.description-block {
    margin-top: 40px;
    margin-left: 50px;
    padding: 0;
    width: max-content;
}

.films-name {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    line-height: 55px;

    margin-bottom: 10px;
}

.description-item {
    width: max-content;
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 7px 0px;
}

.description-property {
    text-align: left;
    /* font-family: Open Sans; */
    font-weight: lighter;
    font-size: 20px;
    color: #ffffff;
    
    margin: 0;
    padding: 0;
    width: 220px;
}

.description-value {
    text-align: left;
    /* font-family: Open Sans; */
    font-weight: lighter;
    font-size: 20px;
    color: #E4AF00;
    
    margin: 0;
    padding: 0;
    width: max-content;
}

/* Схема зала */
.chema {
    margin-top: 20px;
    padding: 30px;
    background-color: #2b2b2b;
    border-radius: 5px;
    width: 842px;
}

.chema-ttl {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    line-height: 49px;
    margin: 100px 0 0 0;
}

.line {
    margin: 0 0 0 0;
}

.SeanceDateTime {
    margin: 5px;
    padding: 5px;
    
    background-color: #cfcfcf;
    border-radius: 5px;
    width: 115px;

    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: #2b2b2b;
}

.SeanceDateTime-current {
    margin: 5px;
    padding: 5px;
    
    background-color: #636363;
    border-radius: 5px;
    width: 115px;

    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    color: #cfcfcf;
}

.SeanceTime {
    margin: 5px;
    padding-top: 2px;
}

.SeanceDate {
    margin: 5px;
    padding-top: 2px;
}

.line-name {
    margin: 5px;

    text-align: left;
    font-weight: lighter;
    font-size: 20px;
    color: #cfcfcf;
    
    padding-top: 2px;
}

.seat-free {
    margin: 5px;

    height: 35px;
    width: 35px;
    background-color: #cfcfcf;
    border-radius: 5px;

    padding-top: 5px;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    color: #2b2b2b;
}

.seat-busy {
    margin: 5px;

    height: 35px;
    width: 35px;
    background-color: #636363;
    border-radius: 5px;

    padding-top: 5px;
    text-align: center;
    font-weight: lighter;
    font-size: 15px;
    color: #ffffff;
}
