@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #777777;
}

header {
    min-height: 80px;
    background-color: #2b2b2b;
}

.logo {
    height: 50px;
    display: flex;
    align-items: center;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    color: #E4AF00;
}

.menu li {
    margin-left: 40px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

.navbar-link, .navbar-link:visited, .navbar-link:hover, .navbar-link:link {
    color: #ffffff;
    text-decoration: none;
    margin-left: 40px;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
}

@media (min-width: 0px) and (max-width: 991px) {
    .menu li {
        text-align: center;
        margin: 5px 0;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
}

.slider {
    width: 100%;
    height: 660px;
    background: url("../img/Slider_2.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    flex-flow: column;
    text-align: center;
}

.slider-ttl {
    font-weight: 600;
    font-size: 64px;
    line-height: 87px;
    scroll-margin-bottom: 15px;
}

/* Фильмы */
.films {
    margin-top: 20px;
    padding: 0;
}

.films-ttl {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    line-height: 49px;
    margin: 100px 0 0 0;
}

.film-img {
    /* background: url("../img/film_1.jpg") no-repeat; */
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    width: 350px;
    height: 505px;
}

.film-rectangle {
    width: 55px;
    height: 6px;
    background: rgb(228, 175, 0);
    margin-top: 20px;
}

.film-ttl {
    margin-top: 10px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #ffffff;
}

.film-description {
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
}

.contacts-ttl {
    margin-top: 100px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: left;
    color: #fff;
}

.contacts {
    margin-top: 20px;
}

.conctact-block {
    margin-top: 15px;
    padding: 10px;
    width: 255px;
    height: 185px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
}

.contact-img {
    margin-top: 20px;
}

.contact-ttl {
    margin-top: 10px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #999999;
}

.contact-description {
    margin-top: 5px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
}

.contact-link {
    margin-top: 5px;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #E4AF00;
}

.map-block {
    margin-top: 20px;
    padding: 0 15px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.map-img {
    -moz-background-size: 100%;
    /* Firefox 3.6+ */
    -webkit-background-size: 100%;
    /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%;
    /* Opera 9.6+ */
    background-size: 100%;
    /* Современные браузеры */
    width: 800px;
    /* height: 505px; */
}

.slider-description {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 156px;
    height: 82px;
    background: #404149;
    padding: 30px;
}

.footer-txt {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.feedback {
    margin-top: 20px;
}

#feedback-txtbx {
    margin-top: 20px;
    margin-left: 20px;

    width: 701px;
    height: 520px;
    resize: none;

    font-size: 20px;
    word-wrap: break-word;
}

#feedback-err {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    color: #E4AF00;
    display: none;
}

#feedback-btn {
    margin-top: 10px;
    margin-left: 20px;
    width: 701px;
}

#feedback-out {
    margin-top: 10px;
    margin-left: 20px;
    width: 701px;

    font-size: 20px;
    color: white;
    word-wrap: break-word;
}































@media (min-width: 992px) and (max-width: 1199px) {
    .contact-ttl {
        margin-top: 10px;
        font-size: 20px;
    }

    .contact-description {
        margin-top: 15px;
        font-size: 20px;
    }

    .contact-link {
        margin-top: 15px;
        font-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu li {
        margin-left: 36px;
        font-size: 22px;
        line-height: 29px;
    }

    .slider {
        height: 600px;
    }

    .slider-ttl {
        font-size: 52px;
        line-height: 69px;
    }

    .contacts-ttl {
        margin-top: 100px;
    }

    .conctact-block {
        height: 175px;
    }

    .contact-ttl {
        margin-top: 10px;
    }

    .contact-description {
        margin-top: 10px;
    }

    .contact-link {
        margin-top: 10px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .slider {
        height: 600px;
    }

    .slider-ttl {
        font-size: 46px;
        line-height: 60px;
        margin: 0 10px;
    }

    .contacts-ttl {
        margin-top: 75px;
        margin-bottom: 35px;
        font-size: 30px;
        line-height: 40px;
    }

    .conctact-block {
        margin-top: 20px;
        height: 175px;
        width: 255px;
    }

    .contact-ttl {
        margin-top: 10px;
        font-size: 20px;
        line-height: 28px;
    }

    .contact-description {
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
    }

    .contact-link {
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
    }

    .footer-txt {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (min-width: 425px) and (max-width: 575px) {
    .slider {
        height: 600px;
    }

    .slider-ttl {
        font-size: 36px;
        line-height: 46px;
        margin: 0 10px;
    }

    .slider-description {
        font-size: 16px;
        line-height: 21px;
        margin: 0 10px;
    }

    .contacts-ttl {
        margin-top: 75px;
        margin-bottom: 25px;
        font-size: 25px;
        line-height: 35px;
    }

    .conctact-block {
        margin-top: 20px;
        height: 175px;
        width: 100%;
    }

    .contact-ttl {
        margin-top: 10px;
        font-size: 20px;
        line-height: 28px;
        text-align: center
    }

    .contact-description {
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        text-align: center
    }

    .contact-link {
        margin-top: 5px;
        font-size: 20px;
        line-height: 28px;
        text-align: center
    }

    footer {
        margin-top: 125px;
        height: 100px;
        padding: 25px;
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-txt {
        font-size: 14px;
        line-height: 19px;
        margin-top: 10px;
    }
}

@media (min-width: 0px) and (max-width: 424px) {
    .slider {
        height: 600px;
    }

    .slider-ttl {
        font-size: 28px;
        line-height: 40px;
        margin: 0 10px;
    }

    .slider-description {
        font-size: 14px;
        line-height: 18px;
        margin: 0 10px;
    }

    .contacts-ttl {
        margin-top: 75px;
        margin-bottom: 25px;
        font-size: 25px;
        line-height: 35px;
    }

    .conctact-block {
        margin-top: 20px;
        height: 175px;
        width: 100%;
    }

    .contact-ttl {
        margin-top: 10px;
        font-size: 18px;
        line-height: 26px;
        text-align: center
    }

    .contact-description {
        margin-top: 5px;
        font-size: 18px;
        line-height: 26px;
        text-align: center
    }

    .contact-link {
        margin-top: 5px;
        font-size: 18px;
        line-height: 26px;
        text-align: center
    }

    footer {
        margin-top: 125px;
        height: 100px;
        padding: 25px;
    }

    .footer-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer-txt {
        font-size: 14px;
        line-height: 19px;
        margin-top: 10px;
    }
}