@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #777777;
}

header {
    min-height: 80px;
    background-color: #2b2b2b;
}

.calc-ttl {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
    line-height: 49px;
    margin: 5px 0 0 0;
}

.lines {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    line-height: 49px;
    margin: 50px 0 0 0;
}

.line {
    text-align: left;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    line-height: 49px;
    margin: 10px 0 0 0;
}

.title {
    margin: 5px;
    width: 370px;
}

.tbox {
    margin: 5px;
}

#button {
    margin: 5px;
    width: 810px;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    margin-top: 156px;
    height: 82px;
    background: #404149;
    padding: 30px;
}

.footer-txt {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
